.card{"data-id" => portfolio.id}
  .card-header
    = image_tag portfolio.thumb_image unless portfolio.thumb_image.nil?
  %p.card-footer
    %span= link_to portfolio.title, portfolio_show_path(portfolio)
    = portfolio.subtitle
