.row
  .col-md-6
    %h1 Kontak
    %h4 Adres:
    %p Białystok, Wasilkowska 41/13
    %h4 Telefon: 
    %p 668 467 483
    %h4 E-mail: 
    %p bartosz.logwiniuk@gmail.com
  .col-md-6
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1196.535001963981!2d23.17864529436593!3d53.1448381841505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ffc20cfca5be9%3A0x9b29c680df9ab70!2sWasilkowska+41%2C+Bia%C5%82ystok!5e0!3m2!1spl!2spl!4v1511359913081", :style => "border:0", :width => "600"}
